<h1>Listing vehicle_models</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicle_models.each do |vehicle_model| %>
      <tr>
        <td><%= link_to 'Show', vehicle_model %></td>
        <td><%= link_to 'Edit', edit_vehicle_model_path(vehicle_model) %></td>
        <td><%= link_to 'Destroy', vehicle_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle model', new_vehicle_model_path %>
