<h3>Dear <%= @order.name %></h3>

<p>Thank you for your recent order from Fast Find Auto Parts.</p><br>

<p>You ordered the following items:</p>

<table>
	<tr><th colspan="2">Qty</th><th>Description</th></tr>
	<%= render @order.line_items -%>
</table>

<p>Order total: RD$<%= @order.total_price %>

Your tracking number is: <%= @order.invoice %></p>

<p>We'll send you a separate e-mail when your order is processed and when it ships.</p>