<h3>Fast Find Auto Parts Order Shipped</h3>
<p>
  This is just to let you know that we've assigned your recent order for shipping. You should be able to track it shortly.
</p>

<table>
	<tr><th colspan="2">Qty</th><th>Description</th></tr>
	<%= render @order.line_items -%>
</table>

<p>Tracking Number: <%= @order.invoice %></p>