<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>

<h1>Editing user</h1>

<%= render 'form' %>


<script>
var map;
var marker;

function initialize() {
  var mapCanvas = document.getElementById('mapa');
  var mapOptions = {
      center: new google.maps.LatLng(18.497254, -69.892279),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
  map = new google.maps.Map(mapCanvas, mapOptions);
	marker = new google.maps.Marker({
		position: new google.maps.LatLng(18.497254, -69.892279),
		map: map,
		draggable: true
  });
  google.maps.event.addListener(marker, 'dragend', place(result));
}

function place(param){
    console.log(param.LatLng);
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>