<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>

<h1>
<% if @authenticated %>
Create User
<% else %>
Register
<% end %>
</h1>

<%= render 'form' %>


<script>
var map;
var marker;

function initialize() {
  var mapCanvas = document.getElementById('mapa');
  var mapOptions = {
      center: new google.maps.LatLng(18.497254, -69.892279),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
  map = new google.maps.Map(mapCanvas, mapOptions);
	marker = new google.maps.Marker({
		position: new google.maps.LatLng(18.497254, -69.892279),
		map: map,
		draggable: true
  });
  markerCoords(marker);
}

function markerCoords(markerobject){
google.maps.event.addListener(markerobject, 'dragend', function(evt){
    //alert(evt.latLng.lat() + " " + evt.latLng.lng());
    document.getElementById('latitude').value = evt.latLng.lat();
    document.getElementById('longitude').value = evt.latLng.lng();
  });
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>

<%= link_to 'Back', home_path %>
