<h1> New Product Created </h1>
<p> A new product has been created without an image. Please search and update this product. </p>
<p> Product: <%= @product.title %> </p>
<p> ID: <%= @product.id %> </p>
<p> Model: <%= @product.vehicle_model.model_name %> </p>
<p> Brand: <%= @product.brand.brand_name %> </p>